
body {
    background: #d7dbe2;
    text-align: center;
    font-family: sans-serif;
} 
main {
    margin: 0 auto;
    width: 500px;
}  
h2 {
    font-size: 25px;
    margin: 50px 0px 10px;
}
ul{
    background: #c2c9d6;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 5px 8px #888888;
}
li {
    font-size: 17px;
    margin: 10px 0;
    list-style-type: none;
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
}
p {
    font-size: 15px;
    margin: 10px 30px;
    list-style-type: none;
    text-align: left; 
}
button, a {
    padding: 10px;
    margin: 30px;
    font-size: 15px;
    background: #44527a;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 400px; 
    transition: all .2s ease-in-out;
}
button:hover, a:hover {
    cursor: pointer;
    transform: scale(1.05);      
}
  
